* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background:	#12694db6;
  padding: 45px 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}



.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  min-width: 280px;
  list-style: none;
}

.dropdown-menu li a {
  color: black;
  padding: 10px;
  display: block;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.hamburger {
  display: none;
  color: white;
  font-size: 28px;
  cursor: pointer;
}

/* Mobile */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    left: -100%;
    width: 100%;
    background: #222;
    flex-direction: column;
    gap: 0;
    transition: 0.3s;
  }

  .nav-links.active {
    left: 0;
  }

  .nav-links li {
    padding: 15px 20px;
    border-top: 1px solid #333;
  }

  .dropdown-menu {
    position: static;
    display: block;
    background: #333;
  }



  .dropdown-menu li a {
    color: white;
    padding-left: 20px;
  }
}