* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background:	#12694db6;
  padding: 45px 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}



.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  min-width: 280px;
  list-style: none;
}

.dropdown-menu li a {
  color: black;
  padding: 10px;
  display: block;
  font-size: 16px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-btn {
  background:none;
  border:none;
  color:white;
  font-size:18px;
  
}
.hamburger {
  display: none;
  color: white;
  font-size: 28px;
  cursor: pointer;
}

/* Mobile */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

   .nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: black;
    flex-direction: column;
    /* align-items: center; */
    margin: -10px 0px 0px 0px;
    gap: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
  }

  .nav-links.active {
    max-height: 350px;
    padding: 20px 0;
  }


  .dropdown-menu {
    position: static;
    display: block;
    background: black;
   
   
    transition: max-height 0.4s ease;
  }
.dropdown-menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.dropdown-menu.active {
  max-height: 300px;
}


  .dropdown-menu li a {
    color: white;
    padding: 20px 20px -3px 20px;
   
  }
}
